body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.samsung-logo {
    display: inline-block;
}

.logo {
    width: 160px;
    margin-bottom: 10px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.bounce {
    width: 160px;
    margin-bottom: 45px;
    animation: bounce 2s infinite;
}
