body, ul, h2, p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body {
    background-color: whitesmoke;
    color: #999;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0px;
}

.wrapper {
    display: flex;
    height: 40vh;
    justify-content: center;
    align-items: center;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-item {
    flex-basis: 160px;
    flex-shrink: 0;
    margin: 5px;
    opacity: 0.4;
    transition: all .4s;
}

.team-item1 {
    flex-basis: 160px;
    flex-shrink: 0;
    margin: 5px;
    opacity: 0.4;
    transition: all .4s;
    position: relative;
    z-index: 1;
}

.team-item1:hover {
    opacity: 1;
    flex-basis: 200px;
    margin: 0 40px;
    transform: scaleX(4) scaleY(2.2);
    transform-origin: left;
    transition: all .85s;
}

.team-item:hover {
    opacity: 1;
    flex-basis: 160px;
    margin: 0 20px;
}

.team-item img {
    width: 100%;
}

.team-item1 img {
    width: 100%;
}

.profile {
    background-color: #222;
    position: relative;
    overflow: hidden;
}

.profile:before {
    content: ' ';
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=0 );
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
}

.profile_red {
    color: #ff4949;
}

.profile_beige {
    color: beige;
}

.profile_green {
    color: darkseagreen;
}

.profile_pink {
    color: pink;
}

.profile_purple {
    color: violet;
}

.profile-contents {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
}

.profile-contents h2 {
    font-size: 17px;
}

.profile-contents h2 span {
    display: block;
    font-size: 10px;
}

.profile-contents p {
    color: white;
    font-size: 10px;
    min-width: 140px;
    max-height: 0;
    overflow: hidden;
    line-height: 1.2;
    transition: all 1s;
    opacity: 0;
}

.team-item1:hover .profile-contents p {
    opacity: 1;
    transition-delay: .4s;
    max-height: 6em;
    margin-top: 0.4em;
}

.team-item:hover .profile-contents p {
    opacity: 1;
    transition-delay: .4s;
    max-height: 6em;
    margin-top: 0.4em;
}










