* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    margin: 0 auto;
}
.script{
    font-family: "Barlow Condensed", sans-serif;
    font-weight:400;
    font-style: normal;
}

.scriptKR{
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#wrapper{
    align-items: center;
    min-height: 100vh;
    width : 60%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F0F0F0;
}
#main-content{
    display: grid;
    grid-template-columns: 35% 65%;
    margin-bottom: 35px;
}
#right-top{
    text-align: right;
}
.mainName{
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    padding : 0px;
    margin: 0px;
    margin-bottom: 15px;
    color: #2D9BF0;
}
.subtitle{
    font-size: 23px;
    color: #2D9BF0;
}
.subtext{
    margin-left: 15px;
}
.highlighting{
    color:#FAC711;
}
.introtext{
    margin-top: 24px;
    margin-left: 20%;
}
.float-wrap{
    overflow: hidden;
    margin-bottom: 15px;
}
.profile{
    margin-top: 60px;
    border-radius: 15%;
    width: 100%;
    height: 60%;
}
.badges{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-rows: 40px 80px;
    margin-bottom: 40px;
}
.sns-img{
    margin-top: 16px;
    margin-bottom : 25px;
    width: 40px;
    height: 40px;
}
#grade-badge{
    width: 60px;
    height: 60px;
    margin-top: 20px;
}
.subtitle{
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 13px;
}
section{
    margin-bottom: 20px;
}
#gallery-toggle{
    display: grid;
    grid-template-columns: 50px auto;
    height : 70px;
    align-items: center;
    cursor: pointer; /* Make it obvious this is clickable */
    transition: border-bottom 0.3s;
}
#gallery-toggle h2{
    font-size: 34px;
    font-weight: bolder;
    margin: 0px;
    margin-left: 15px;
    padding: 5px;
}
#gallery-img{
    float: left;
    width : 50px;
    height : 50px;
}
#gallery-toggle.expanded {
    border-bottom: 1px solid black; /* Border appears after expanding */
}
.gallery-grid{
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}
.cole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cole img {
    max-width: 100%;
    height: auto;
    display: block;
}
.cole p {
    text-align: center;
    margin-top: 10px;
}

#mobile-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke; /* Set the background to whitesmoke */
    color: black;
    text-align: center;
    font-weight: bolder;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    line-height: 100vh; /* Vertical centering */
    display: none; /* Hidden by default */
    z-index: 1000; /* Ensure it is on top of other content */
    font-size: 20px; /* Adjust the font size as needed */
}

.backbtn{
    text-align: right;
}

#back{
    width: 100px;
}